// variables
$white: #FFF;
$primary: #327DF6; 
$secondary: #ffc107; 
$warning: #ffc107; 
$success: #28a745; 
$danger: #dc3545; 
$text: #212529;
$text-light: #959595;
$border: #eee;

// breakpoints
$small-mobile: 376px;
$mobile: 576px;
$small-tab: 768px;
$big-tab: 992px;
$small-desktop: 1024px;
$desktop: 1200px;
$large-desktop: 1700px;